$body-color: #291f1a;
$font-lato: 'Lato', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$span-color: #1ac056;
$menu-bg-color: #fff;
$contact-bg-color:#213b50;
$menu-item-a: #1ac056;
$menu-item-a-hover: #999;
$header-bg-color: #fff;
$hover-color: gray;
$input_bg_color: #2b4a64;
$button_color: #1ac056;